body{
    font-family: Roboto, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: white;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

/*#container{*/
/*    margin: 0 auto;*/
/*    */
/*}*/

#header{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    height: 150px;
}

#header ul{
    display: flex;
}

#header li{
    margin-right: 10px;
}

#header a, .header-content a{
    font-size: 18px;
    color: #E5E7EB;
}

.header-content{
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.header-content h1{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    padding: 0;
    margin: 0;
}

.header-content img{
    width: 400px;
    height: auto;
}

button{
    background-color: #3882F6;
    color: #FFF;
    border-radius: 5px;
    border: none;
    width: 130px;
    font-size: 18px;
    margin: 10px 0;
    padding: 6px;
}

.hc-left{
    width: 500px;
}
.logo{
    flex: 1;
}

.info-title{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.content-two{
    text-align: center;
    height: 400px;
    background-color: #FFFFFF;
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.card{
    width: 250px;
}

.card-container img{
    width: 200px;
    height: auto;
    margin-bottom: 5px;
    border: 4px solid #3882F6;
    border-radius: 10px;
}

.content-three{
    background-color: #E5E7EB;
    padding: 25px 50px;
}

blockquote{
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
}

.quote-author{
    text-align: right;
    font-weight: 600;
    font-size: 25px;
    margin-right: 20px;
}